<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form method="POST" action="{{ url_for('register') }}">
        <label>Username</label>
        <input type="text" name="username" required><br><br>
        <label>Password</label>
        <input type="password" name="password" required><br><br>
        <label>Lnd Directory</label>
        <input type="text" name="lnd_dir" required><br><br>
        <label>TLS certificate</label>
        <input type="text" name="tls_cert_path" required><br><br>
        <label>Port</label>
        <input type="text" name="port" required><br><br>
        <label>Macaroon Path</label>
        <input type="text" name="macaroon_path" required><br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
